*{
    background-color: rgb(42, 183, 183);
    border: 1px solid black;
    margin: 0;
    padding: 0;
}
.container
{
    width: 100vw;
    height: 100vh;
    display:flex;
    flex-direction: column;
    align-items: center;
    padding: auto;
    border: 3px solid rgb(255, 255, 255);
    padding: 10px;
}
.card{
    width: 200px;
    border: 3px solid green;
    height: 500px;
    padding: 0px;
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
}
.card .image img
{
    width: 100px;
    height: 100px;
}
.card .avatar_and_name img{
    width: 30px;
}